@page
@using Microsoft.AspNetCore.Html
@using razor_page_cs51.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model razor_page_cs51.Areas.Products.Pages.IndexModel
@{
    IHtmlContent html = await Html.PartialAsync("_CardPartialView");
}
<h1>This is Products Page</h1>
<h2>Su dung data vao partial</h2>
<div>
    Cách dùng 1: @html
    @*Để dùng được cách 2 ta phải thêm tagHelper như trên*@
    Cách dùng 2: <partial name="_CardPartialView" />
    Cách dùng 3: @await Html.PartialAsync("_CardPartialView")
</div>
@*
    Để truyền dữ liệu vào partialView ta làm như sau
*@
@{
    //Ta sẽ truyền user vào partionView
    UserModel user = new UserModel()
            {
                Name = "Dang Nhat Minh",
                Age = 21,
                Email = "dangnhatminh0903202@gmail.com"
            };

}
<h2>Truyen data vao partial</h2>
<div>
    Cách dùng 1: <partial name="_ShowUserPartialView" model="user" />
    Cách dùng 2: @await Html.PartialAsync("_ShowUserPartialView", user)
    Cách dùng 3: @{
        // Cách này phải dùng trong @{} không dùng @await được
        await Html.RenderPartialAsync("_ShowUserPartialView", user);
    }
</div>