@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*
    các cú pháp razor hay dùng
    - @value -> @Name
    - @(expression) -> @(1 + 5)
    - @System.Math....
    - @Html.Raw() -> Nếu không dùng Html.Raw() trình biên dịch sẽ biên dịch một doạn string (ex: <h1>Hello</h1>) thành text
    - @function {} -> Các biến khai, func,... khai báo trong này có thể dùng được ở bất kỳ đâu trong page
    - @if, @for, @foreach, @switch, ...
    - @page, @page "url"
    - @model Model
    - @namespace
    - @using
*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ul style="list-style: none">
        <li>
            @{
                <h1 style="font-size: 1em">Hello pp1</h1>
            }
        </li>
        <li>
            @{
                <text>Hello pp2</text>
            }
        </li>
        <li>
            @{
                string name = "Hello pp3";
                @: Hello pp3
            }
        </li>
    </ul>
</div>
