@using razor_page_cs51.Pages.Shared.Components.MessageComponentView
@model MessageComponentView.MessagePage
<h1>This is message viewcomponent</h1>
<h2>@Model.title</h2>
<h2>@Model.htmlcontent</h2>
<h2>@Model.secondwait</h2>