@*dấu _ để nói với razor là đây không phải là một page*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*có thể thiết lập view data ở trang gọi layout*@
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div style="background-color: #FFBA49"><h1>Header</h1></div>
    <div style="background-color: #20A39E">
        @RenderBody()
    </div>
    <div style="background-color: #EF5B5B"><h1>Footer</h1></div>
</body>
</html>
