@page
@model Razor_Cs50.Areas.Products.Pages.Product_2Model
@{
}

@functions {
    //Cac function có tiền tố OnGet -> OnGet() | OnGetAbcXyz() | ...
    //Cac function có tiền tố OnPust -> OnPust() | OnPustAbcXyz() | ...
    //Được gọi là Handler và sẽ được khi truy vấn đến trang

    public void OnGet() // phương thức GET, Được chạy đầu tiên
    {
        Console.WriteLine("On Get called");
    }

    // Sẽ được gọi khi truy vấn GET: url?handler=Abc
    public void OnGetAbc()
    {
        Console.WriteLine("On Get abc alled");
    }

    // Tương tự với Post
}
<h1>This is Product 2</h1>